.MetaContainer {
  width: 100%;
  .MetaInner {
    width: 100%;
    padding: 4rem;
    @include maxWidth;
    @include max1000 {
      padding: 4rem;
      padding-top: 8rem;
      width: 100%;
      min-height:100vh;
    }
    @include max767 {
      padding: 3rem;
      padding-top: 8rem;
    }
    .title {
      padding-bottom: 6rem;
      width: 100%;
      text-align: center;
      h1 {
        text-transform: uppercase;
        @include txt48;
        font-weight: 600;
      }
    }
    .filterContainer {
      display: grid;
      grid-template-columns: minmax(0, 1fr) 220px 96px;
      grid-column-gap: 1.6rem;
      align-items: center;
      width: 100%;
      
      @include max767 {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 2rem;
      }
      .searchContainer {
        border: 1px solid #474747;
        box-sizing: border-box;
        border-radius: 16px;
        position: relative;
        padding: 0 16px;
        height: 47px;
        display: flex;
        align-items: center;
        @include max767 {
          height: 47px;
          grid-column-start: 1;
          grid-column-end: 3;
        }
        input {
          position: absolute;
          width: 100%;
          border-radius: 16px;
          height: 100%;
          top: 0;
          left: 0;
          background: transparent !important;
          border-color: transparent !important;
          padding: 0 44px 0 16px;
          font-size: 14px;
        }
        .searchIcon {
          position: absolute;
          top: 50%;
          right: 12px;
          transform: translateY(-50%);
          display: flex;
          align-items: center;
          pointer-events: none;
        }
      }
      .volumeDropDownContainer {
        height: 47px;
        z-index: 9;
        display: flex;
        align-items: center;
        @include max767 {
          height: 47px;
        }
        .dropdown {
          border: 1px solid #474747;
          box-sizing: border-box;
          border-radius: 16px;
          height: 47px;
          width: 100%;
          font-size: 1.4rem;
          display: flex;
          align-items: center;
          .dropdown-header {
            padding: 0 13px;
            height: 47px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
            @include ipadView{
              padding: 0 13px;
            }
          }
        }
      }
      .viewIconsContainer {
        border: 1px solid #474747;
        box-sizing: border-box;
        border-radius: 16px;
        padding: 0 8px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 47px;
        @include max767 {
          height: 47px;
          grid-row-start: 2;
          grid-column-start: 2;
        }
        .gridViewBtn {
          background: transparent;
          border: none;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          opacity: 0.4;
          line-height: 0;
          &.active {
            opacity: 1;
          }
        }
      }
    }

    .agencyCardList {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 3rem;
      width: 100%;
      padding-top: 5rem;
      &.grid2 {
        grid-template-columns: 1fr 1fr;
      }
      &.grid3 {
        grid-template-columns: 1fr 1fr 1fr;
      }
      @include max767 {
        grid-template-columns: 1fr;
        padding-top: 0rem;
        &.grid2,
        &.grid3 {
          grid-template-columns: 1fr;
        }
      }
      .agencyCard {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: 100%;
        padding: 0px 0px 24px;
        background: #232323;
        border-radius: 24px;
        overflow: hidden;
        .agencyLogo {
          width: 100%;
          aspect-ratio: 1 / 1;
          overflow: hidden;
          span,
          img {
            width: 100% !important;
            height: 100% !important;
            object-fit: cover;
          }
        }
        .agencyName {
          width: 100%;
          text-align: center;
          margin-top: auto;
          padding-top: 1.7rem;
          h5 {
            @include txt16;
            font-weight: 600;

            &:hover {
              color: #e44757;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
