.SwapMDContainer {
  width: 100%;
  padding-bottom: 5rem;
  .SwapMDInner {
    width: 100%;
    padding: 4rem;
    padding-bottom: 8rem;
    @include max1000 {
      padding: 4rem;
      padding-top: 8rem;
      min-height: 100vh;
    }
    @include max767 {
      padding: 3rem;
      padding-top: 8rem;
    }
    .title {
      display: none;
      padding-bottom: 2.5rem;
      h1 {
        @include txt24;
      }
    }
    .SwapMDMain {
      .tabsContainer {
        padding-top: 4rem;
        width: 100%;
        .nav-tabs .nav-link:hover,
        .nav-tabs .nav-link:focus {
          border-color: transparent;
          isolation: isolate;
        }
        ul.nav-tabs {
          width: fit-content;
          border-bottom: none;
          // border: 1px solid #ffffff;
          border-radius: 100px;
          margin: 0 auto;
          background: $greyV3;
          box-shadow: 0px 0px 4px 0px #ffffff;

          li {
            margin-top: -1px;
            button.nav-link {
              width: 100%;
              @include txt18;
              padding: 1rem 2.5rem;
              color: #ffffff;
              font-weight: 600;
              transition: border-radius 1s linear, background 0.2s linear;
              @include max1000 {
                padding: 1rem 2rem;
              }
            }
            button.nav-link.active {
              border-radius: 100px;
              color: $greyV3;
            }
          }
        }
      }
      .stackingpackfeegraph.loading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        height: 100%;
        min-height: 35vh;
        border: 2px solid grey;
        border-radius: 5px;
        @include max767() {
          // width: 100vw;
          // position: absolute;
          // top: 50%;
          // left: 50%;
          // transform: translate(-50%,-50%);
        }
        p {
          @include txt24;
          @include max767() {
            font-size: 20px;
            line-height: 32px;
          }
        }
      }
      .SwapMDtableContainer {
        margin-top: 6rem;
        .tableContainer {
          background: #232323;
          border-radius: 24px;
          padding: 2.4rem;
          margin-bottom: 4rem;
          @include max767 {
            padding: 2rem;
          }
          p {
            font-size: 18px;
            padding-bottom: 2rem;
          }
          h3 {
            @include txt18;
            padding-bottom: 4.3rem;
            font-weight: 300;
            @include max1000 {
              padding-left: 5px;
              padding-top: 5px;
              padding-bottom: 3.3rem;
            }
          }
          .tableContainerTable {
            overflow-x: auto;
          }
          table {
            width: 100%;
            @include max1000 {
              min-width: 450px;
            }
            thead {
              tr {
                th {
                  text-align: left;
                  @include txt16;
                  padding: 20px 10px;
                  border-bottom: 1px solid;
                }
              }
            }
            tbody {
              tr {
                td {
                  @include txt14;
                  padding: 14px 10px;
                }
              }
            }
          }
          .pagination {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 3rem 0;
            @include max767 {
              display: none;
            }
            .total {
              @include max767 {
                width: 100%;
              }

              p {
                @include txt14;
                padding: 0;
                margin: 0;
                @include max767 {
                  text-align: center;
                }
              }
            }
            .cdp {
              position: relative;
              text-align: center;
              font-size: 0;
              z-index: 6;
              @include txt14;
              animation: cdp-in 500ms ease both;

              &_i {
                font-size: 14px;
                text-decoration: none;
                transition: background 250ms;
                display: inline-block;
                text-transform: uppercase;
                margin: 0 3px 6px;
                height: 38px;
                min-width: 38px;
                border-radius: 38px;
                border: 2px solid #fff;
                line-height: 38px;
                padding: 0;
                color: #fff;
                font-weight: 700;
                letter-spacing: 0.03em;
                display: none;

                &:first-child,
                &:last-child {
                  padding: 0 16px;
                  margin: 0 12px 6px;
                  color: #fff;
                  display: inline-block;
                  border: 1px solid #474747;
                  box-sizing: border-box;
                  border-radius: 8px;
                }

                &:last-child,
                &:nth-child(2),
                &:nth-last-child(2) {
                  display: inline-block;
                  color: #fff;
                  display: inline-block;
                  border: 1px solid #474747;
                  box-sizing: border-box;
                  border-radius: 8px;
                }
              }

              &_i:hover {
                border: 1px solid #e8425d !important;
                color: #e8425d !important;

                svg path {
                  stroke: #e8425d;
                }
              }

              &:not([actpage="1"]) &_i:nth-child(1) {
                display: inline-block;
                color: #fff;
                display: inline-block;
                border: 1px solid #474747;
                box-sizing: border-box;
                border-radius: 8px;
              }
            }
          }
          .pagination.mobile {
            .total {
              margin-bottom: 2rem;
            }
            display: none;
            @include max767 {
              display: block;
            }
          }
        }
        .locked {
          background: #474747;
          border-radius: 100px;
          padding: 0.6rem 1.7rem;
          border: none;
          width: 100%;
          max-width: 150px;
          transition: all 0.2s linear;
          &:hover {
            background: #e44757;
          }
        }
        .Unlocked {
          background: rgba(64, 221, 62, 0.16);
          border-radius: 100px;
          padding: 0.6rem 1.7rem;
          border: none;
          color: #40dd3e;
          width: 100%;
          max-width: 150px;
        }

        // tr for swap requested
        .swaprequestedTR {
          .actionBtn {
            // background: transparent;
            // border: none;
            color: white;
            background-color: #e44757;
            width: 35px;
            height: 35px;
            font-size: 14px;
            border-radius: 100px;
      
          }
        }
      }
    }
  }

  .graphContainer {
    .SwapMDChartContainer {
      .monthsContainer {
        display: flex;
        justify-content: flex-end;
        .months {
          background-color: #232323;
          padding: 5px 25px !important;
          border-radius: 11px;
          font-size: 12px;
          border: 1px solid #938f8f;
        }
      }
    }
  }

  .sendBoxColor {
    border-radius: 1rem;
    background: #474747;
    background-color: #474747;
    padding: 1rem;
    border: 1px white solid;
  }

  .updateInputField {
    border-radius: 1rem;
    background: #474747;
    background-color: #474747;
    padding: 1rem;
    border: 1px white solid;
  }
}
